python>=3.8.0
ipython>=7.20.0
pip>=21.0.0
qt>=5.9.7
numpy==1.22.1
scipy>=1.7.0
numba=0.53.1
matplotlib>=3.3.0
seaborn>=0.11.0
astropy>=4.2.0
jplephem>=2.0
photutils>=1.0.0
astroquery>=0.4.0
pandas
sphinx>=4.0.0
alabaster>=0.7.0
scikit-image>=0.19.0
scikit-learn>=0.24.0
setuptools
cython
networkx
pytest>=6.0.0
tqdm>=4.50.0
batman-package
ray[default]
aiohttp
psutil
setproctitle
grpcio
pyfiglet
termcolor
time
configobj
validate
exotethys
statsmodels
configparser
