python=3.7.2
ipython=7.2.0
pip=19.0.1
qt=5.9.7
numpy=1.15.4
scipy=1.2.0
matplotlib=3.0.2
seaborn=0.9.0
astropy=3.1.1
photutils=0.6
astroquery=0.3.9
pandas=0.24.1
sphinx=1.8.4
alabaster=0.7.12
scikit-image=0.14.1
scikit-learn=0.20.2
setuptools=40.8.0
cython=0.29.5
networkx=2.2
pytest=4.2.1
tqdm=4.31.1
batman-package==2.4.6

