python=3.8.8
ipython=7.22.0
pip=21.0.1
qt=5.9.7
numpy=1.19.2
scipy=1.6.2
numba=0.53.1
matplotlib=3.3.4
seaborn=0.11.1
astropy=4.2.1
jplephem=2.15
photutils=1.1.0
astroquery=0.4.1
pandas=1.2.3
sphinx=3.5.4
alabaster=0.7.12
scikit-image=0.17.2
scikit-learn=0.23.0
setuptools=52.0.0
cython=0.29.22
networkx=2.5.1
pytest=6.2.3
tqdm=4.59.0
joblib=1.0.1
batman-package=2.4.7
ray=1.2.0
aiohttp
psutil=5.8.0
setproctitle=1.2.2
grpcio
pyfiglet
termcolor
time
configobj
validate
exotethys
statsmodels
